<div align="center">
  <table cellspacing="2" cellpadding="2" border="0">
    <tr>
      <td height="50" colspan="2" align="center"><h1>Nova disciplina</h1></td>
    </tr>

    <%= render 'disc_form' %>

    <tr>
      <td colspan="2" align="center"><%= link_to 'Voltar', disciplinas_path %></td>
    </tr>
  </table>
</div>