<div align="center">
  <table cellspacing="2" cellpadding="0" border="0">
    <tr>
      <td height="50" colspan="2" align="center"><h1>Editar disciplina</h1></td>
    </tr>

    <%= render 'disc_form' %>

    <tr>
      <td colspan="2" align="center"><%= link_to 'Voltar', session[:retorno] %></td>
    </tr>
  </table>
</div>
