<h1>Editar turma</h1>

<% form_for(@turma) do |f| %>
  <%= render :partial => 'turma_form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Voltar', turmas_path %>