<div align="center">
  <table cellspacing="4" cellpadding="0" border="0">
    <tr>
      <td colspan="2" align="center" height="50"><h1>Consulta de usuario</h1></td>
    </tr>
    <tr>
      <td colspan="2" align="center" style="color: green"><%= notice %></td>
    </tr>
    <tr>
      <td height="30" align="right"><b>Nome:</b></td>
      <td align="left"><%=h @usuario.nome %></td>
    </tr>
    <tr>
      <td height="30" align="right"><b>Administrador:</b></td>
      <td align="left">
        <% if @usuario.administrador == 1 %>
          Sim
        <% end %>
        <% if @usuario.administrador == 0 %>
          Não
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center" height="50">
        <%= link_to "Editar", editar_usuario_path(@usuario) %> | <%= link_to "Voltar", :back %>
      </td>
    </tr>
  </table>
</div>
