<table cellspacing="2" cellpadding="0" border="0">
  <tr>
    <td height="50" colspan="2" align="center"><h1>Editar usuario</h1></td>
  </tr>

<% form_for(@usuario, :html => {:multipart => true}) do |f| %>
  <%= render :partial => "usuario_form", :locals => {:f => f}   %>
  <tr>
    <td colspan="2" align="center"><%= f.submit 'Alterar' %></td>
  </tr>
<% end %>
<tr>
  <td colspan="2" align="center"><%= link_to 'Voltar', session[:retorno] %></td>
</tr>
</table>