<div align="center">
  <table>
    <tr>
      <td><h1>Sistema de Gestão Escolar - SGE</h1></td>
    </tr>
    <tr>
      <td align="center"><strong><h3>Versão:</h3></strong></ br>
        <h4><%=t :versao %></h4>
      </td>
    </tr>
    <tr>
      <td align="center"></td>
    </tr>
    <tr>
      <td align="center"><strong><h3>Desenvolvedores:</h3></strong></ br>
        <%=t :gilberto %><br></br>
        <%=t :ricardo %>
      </td>
    </tr>
  </table>
</div>