#menu{
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

#corpo{
    position: absolute;
    vertical-align: bottom;
    top: 100px;
    left: 0px;
    width: 100%;
}

body{
    background-color: #CCFFCC;
}

h1,h2,h3,h4,h5,h6,label,legend,a,input,td,option{
    font-family: sans-serif;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}