<h1>New turma</h1>

<% form_for(@turma) do |f| %>
  <%= render :partial => 'turma_form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', turmas_path %>